@font-face {
  font-family: Bebas Neue; src: url('../fonts/BebasNeue-Regular.otf');
}

a {
  color: #60606E;
  letter-spacing: 5px;
}

a:hover {
  color: #000000;
  text-decoration: none;
  transition: all .4s;
}

body {
  background-image: url('../img/backgroundMountains.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: #60606E;
  font-family: Bebas Neue;
  height: 100vh;
}

button {
  letter-spacing: 5px;
}

h1 {
  letter-spacing: 5px;
}

hr {
  color: #60606E;
  width: 60px;
}

img {
  float: left;
}

#footer {
  letter-spacing: 5px;
}

#game-designer {
  background-image: url('../img/backgroundGamer.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: #FFFFFF;
}

#graphic-designer {
  background-image: url('../img/backgroundDesign.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: #FFFFFF;
}

#hero-text {
  font-size: 46px;
  letter-spacing: 8px;
}

#home {
  background-image: url('../img/backgroundMountains.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#icon {
  height: 25px;
  width: 25px;
}

#info {
  letter-spacing: 5px;
}

#margin {
  margin-top: 30px;
}

#movie-director {
  background-image: url('../img/backgroundDirector.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#navigation {
  font-size: 1.2rem;
  padding-top: 20px;
}

#second-hero-text {
  font-size: 46px;
  letter-spacing: 8px;
  padding-top: 6vh;
}

#subtext {
  font-family: 'Helvetica';
  font-size: 16px;
  letter-spacing: 0;
}
