@font-face {
  font-family: Bebas Neue; src: url('../fonts/BebasNeue-Regular.otf');
}

body {
  height: 100%;
  color: #60606E;
  font-family: Bebas Neue;
  margin: 0;
  line-height: 0.3;
}

a {
  color: #60606E;
  text-decoration: none;
}

p {
  padding-top: 8vh;
  padding-bottom: 0;
}

div {
  height: 100vh;
  width: 100%;
  text-align: center;
  font-size: 46px;
  letter-spacing: 10px;
}

img {
  float: left;
  margin: 0 60px 20px 0;
}

span {
  font-family: 'Helvetica';
  font-size: 16px;
  letter-spacing: 0;
}

button {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: transparent;
  border-radius: 12px;
  border-color: #60606E;
  border: 0.5;
  font-size: 14px;
  color: #60606E;
  font-family: Bebas Neue;
  text-align: center;
  letter-spacing: 3px;
}

ul {
  list-style-type: none;
  font-size: 18px;
  padding: 5vh;
  letter-spacing: 4px;
  position: fixed;
  text-align: center;
}

li {
  display: inline;
  padding: 3vh;
}

hr {
  width: 60px;
  color: #60606E;
}

#home {
  background-image: url('../img/backgroundMountains.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  vertical-align: middle;
  line-height: 100vh;
}

#director {
  background-image: url('../img/backgroundDirector.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#graphic {
  color: white;
  background-image: url('../img/backgroundDesign.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: middle center;
}

#graphic hr {
  color: white;
}

#graphic button {
  color: white;
  border-color: white;
}

#game {
  color: white;
  background-image: url('../img/backgroundGamer.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#game hr {
  color: white;
}

#game button {
  color: white;
  border-color: white;
}

#table-navbar {
  width: 100%;
  padding-top: 20px;
  position: fixed;
  text-align: center;
}

#table-content {
  height: 100%;
  width: 100%;
  text-align: center;
}
